.DS_Store
node_modules
lla_1.png
.vscode/settings.json
.config/nvim/*.lua
!.config/nvim/init.lua
.config/fish
.claude
.ssh
configstore
opencode
raycast
stripe
hosts.yml
.config/tmux/plugins
.zsh_history
.local/
.claude.json
.codex/auth.json
.codex/history.json*
*/karabiner/automatic_backups