.DS_Store
node_modules
lla_1.png
.vscode/settings.json
.config/nvim/*.lua
!.config/nvim/init.lua
.config/fish/completions
.config/fish/conf.d/_tide_init.fish
.config/fish/functions
.config/fish/fish_plugins
.config/fish/fish_variables
.claude
.ssh
configstore
opencode/node_modules
opencode/.gitignore
opencode/package.json
opencode/package-lock.json
raycast
stripe
hosts.yml
.config/tmux/plugins
.zsh_history
.local/
.claude.json
.codex
.gemini
*/karabiner/automatic_backups
.antigravitycli
.hermes
.ollama
.gnupg
.config/uv