[core]
	excludesfile = /Users/timoptimothy/.gitignore_global
	editor = nvim
# optional
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
# optional
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Timothy
	email = timothytimothytimo6@gmail.com
	signingkey = 3748061515B564A2A32EEB27AB870CF30786EFA9
[commit]
	template = /Users/timoptimothy/.stCommitMsg
	gpgsign = true
[tag]
	gpgSign = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = false
[pull]
	rebase = false
[alias]
	pull-allow = pull --allow-unrelated-histories
	co = commit --allow-empty
  a = add
[credential]
	helper = osxkeychain
[includeIf "gitdir:~/Developer/github_repository/ttiimmothhy/"]
  path = ~/.gitconfig-not-often
[includeIf "gitdir:~/Developer/github_repository/working/"]
  path = ~/.gitconfig-work
  